@page
@model PrimeiroAppWebConsumindoAPI.Models.Jogo


@{
    ViewData["Title"] = "Alterar";
}



@{

    

    Service.DataService dataService = new Service.DataService();
    string id = Request.Query["id"];

    var game = dataService.GetJogo(id).Result;//result retorna o resultado da task
    //game.Nome = "aaaaaaaa";
    //dataService.UpdateJogoAsync(game);

    <form asp-action="Create">
        <div class="form-row">
            <div class="col-0">
                <input asp-for="Id" type="hidden" class="form-control"  value="@id" required>
            </div>
            <div class="col">
                <input asp-for="Nome" type="text" class="form-control" placeholder="Nome" value="@game.Nome" required>
            </div>
            <div class="col">
                <input asp-for="Produtora" type="text" class="form-control" placeholder="Produtora" value="@game.Produtora" required>
            </div>
            <div class="col">
                <input asp-for="Preco" type="number" class="form-control" placeholder="Preço" value="@game.Preco" required>
            </div>
        </div>
        <div class="col-auto my-1">
            <button type="submit" value="Create" class="btn btn-primary">Enviar</button>
        </div>
    </form>

       
        }
